/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #101828;
  --color-secondary: #6A7282;
  --color-tertiary: #4A5565;
  --color-quaternary: #0033A0;

  --font-primary: 'Tinos', serif;
  --font-secondary: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
